@using Supinfy.Utils
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/Site.js")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Supinfy", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Social", "Index", "Social")</li>
                    <li>@Html.ActionLink("Playlist", "Index", "Playlist")</li>
                </ul>
                @using (Html.BeginForm("SearchMusic", "Music", FormMethod.Post, new { @class = "navbar-form navbar-left navbar-input-group" }))
                {
                    <div class="form-group">
                        <input type="text" class="form-control" name="search" placeholder="Search a music">
                    </div>
                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                }
                <ul class="nav navbar-nav navbar-right">
                    @if (Session[SessionKey.UserId] == null)
                    {

                        <li>@Html.ActionLink("Login", "Login", "Account")</li>
                        <li>@Html.ActionLink("Register", "Register", "Account")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink(Session[SessionKey.Username].ToString(), "Profile", "Account", new {user = Session[SessionKey.Username].ToString() }, null)</li>
                        <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />

        <footer>
            <p>&copy; @DateTime.Now.Year - Supinfy</p>
        </footer>
        <div id="player_container">
            <img src="" id="artwork" />
            <audio hidden controls="controls" id="player">
            </audio>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/")
    @RenderSection("scripts", required: false)

</body>
</html>
