@model Supinfy.ViewModel.FriendVM
@{
    ViewBag.Title = "Index";
}

<h2>Social pannel</h2>

@using (Html.BeginForm("SearchUser", "Social", FormMethod.Post))
{
    <div class="form-horizontal">
        <hr />
        <h3>Search user</h3>
        <div class="form-group">
            <label class="control-label col-md-2">Search query</label>
            <div class="col-md-10">
                @Html.Editor("search")
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Find" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<hr />
<h4>You have @Model.PendingFriends.ResultCount pending friend request.</h4>
@foreach (var pfriend in Model.PendingFriends.ResultList)
{
    <div class="row">
        <div class="col-md-4">
            @Html.Label(pfriend.Name)
            @*TODO : custom to button*@
            @Html.ActionLink("Accept", "AddToFriend", new { friendId = pfriend.Id, callback = false })
            @Html.ActionLink("Refuse", "RemoveFriend", new { friendId = pfriend.Id })
        </div>
    </div>
}

<hr />
<h4>You have @Model.Friends.ResultCount friend.</h4>
@foreach (var pfriend in Model.WaitingFriends.ResultList)
{
    <div class="row">
        <div class="col-md-4">
            @Html.Label(pfriend.Name)
            <i>Waiting for confirmation</i>
            @*TODO : custom to button*@
            @Html.ActionLink("Cancel request", "RemoveFriend", new { friendId = pfriend.Id })
        </div>
    </div>
}
@foreach (var pfriend in Model.Friends.ResultList)
{
    <div class="row">
        <div class="col-md-4">
            @Html.Label(pfriend.Name)
            @*TODO : custom to button*@
            @Html.ActionLink("See user playlists", "UserPlaylist", new { friendId = pfriend.Id })
            @Html.ActionLink("Remove friend", "RemoveFriend", new { friendId = pfriend.Id })
        </div>
    </div>
}
