@model Supinfy.ViewModel.FriendVM
@{
    ViewBag.Title = "Index";
}

<h2>Social pannel</h2>

@using (Html.BeginForm("SearchUser", "Social", FormMethod.Post))
{
    <div class="form-horizontal">
        <hr/>
        <h3>Search user</h3>
        <div class="form-group">
            <label class="control-label col-md-2">Search query</label>
                @Html.Editor("search", new { htmlAttributes = new { @class = "form-control" } })
                <input type="submit" value="Find" class="btn btn-default" />
        </div>
    </div>
}
<hr/>
<h4>You have @Model.PendingFriends.ResultCount pending friend request.</h4>
@foreach (var pfriend in Model.PendingFriends.ResultList)
{   
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="friend-name col-md-2">@pfriend.Name</div>
            <div class="col-md-5">
                @Html.ActionLink(" Accept", "AddToFriend", new {friendId = pfriend.Id, callback = false}, new {@class = "btn btn-success glyphicon glyphicon-ok col-md-4 single-line" })
                @Html.ActionLink(" Refuse", "RemoveFriend", new {friendId = pfriend.Id}, new {@class = "btn btn-danger glyphicon glyphicon-remove col-md-4 single-line" })
            </div>
        </div>
    </div>
}
<br />
<hr />
<h4>You have @Model.Friends.ResultCount friend.</h4>
@foreach (var pfriend in Model.WaitingFriends.ResultList)
{
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="friend-name col-md-2">@pfriend.Name</div>
            <div class="col-md-5">
                <i class="col-md-6 single-line">Waiting for confirmation</i>
                @Html.ActionLink(" Cancel", "RemoveFriend", new { friendId = pfriend.Id }, new { @class = "btn btn-danger glyphicon glyphicon-trash col-md-4 single-line" })
            </div>
         </div>
    </div>
}
@foreach (var pfriend in Model.Friends.ResultList)
{
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="friend-name col-md-2">@pfriend.Name</div>
            <div class="col-md-5">
                @Html.ActionLink(" Playlists", "UserPlaylist", new { friendId = pfriend.Id }, new { @class = "btn btn-info glyphicon glyphicon-th-list col-md-4 single-line" })
                @Html.ActionLink(" Remove", "RemoveFriend", new { friendId = pfriend.Id }, new { @class = "btn btn-danger glyphicon glyphicon-trash col-md-4 single-line" })
            </div>
        </div>
    </div>
}