@using Supinfy.ViewModel
@model Supinfy.ViewModel.PlaylistIndexVM
@{
    ViewBag.Title = "title";
}

<h2>My playlist</h2>

@{ Html.RenderPartial("CreateForm", new CreatePlaylistVM());}

@foreach (var playlist in Model.Playlists)
{
    <div class="row">
        <hr/>
        <div class="col-md-4">
            <h2>@Html.ActionLink(playlist.Name, "Detail", new { id = playlist.Id })</h2>
            <p>Created by @Html.DisplayFor(m => playlist.OwnerName), this playlist contains @Html.DisplayFor(m => playlist.MusicCount) track@(playlist.MusicCount > 0 ? "s" : "")</p>
            <i>@Html.Label(playlist.CreationDate.ToShortDateString())</i><br/>
            @Html.ActionLink("Remove playlist", "Remove", new { playlistId = playlist.Id})
        </div>
    </div>
}
